                                                

                                                                  
@define CTColor: #93abd2;
@define TColor: #d7c788;
@define FadedColor: #888888;

                            
@define DeathNoticeLifetime: 5.0;				                                       
@define DeathNoticeLocalPlayerLifetimeMod: 1.5;	                                                            
												                                                                   
@define DeathNoticeFadeOutTime: 1.0s;			                      


CSGOHudDeathNotice
{
	height: fill-parent-flow(1);
	margin-top: 72px;
	padding-right: 3px;
	horizontal-align: right;
}

CSGOHudDeathNotice Label
{
    font-family: Stratum2, 'Arial Unicode MS';
}

                                                                                                 
                                                                         
.Language_vietnamese CSGOHudDeathNotice Label 
{
	font-family: ForceStratum2, 'Arial Unicode MS';
}

#VisibleNotices
{
	height: 100%;
	flow-children: down;
	horizontal-align: right;
}

                                                                               
                                                                               
                                                                               

.DeathNotice
{
	horizontal-align: right;
	                      
	margin-bottom: 1px;
	
	transition-property: position;
	transition-timing-function: ease-out;
	transition-duration: .2s;
	height: 36px;
}

.DeathNotice.FadeOut .DeathNoticeBGBorder,
.DeathNotice.FadeOut .DeathNoticeContent,
.DeathNotice.FadeOut .DeathNoticeWipeContainer
{
	opacity: 0.0;
}

.DeathNoticeBGBorder
{
	border-radius: 5px;
	width: 100%;
	height: 100%;

	transition-property: opacity;
	transition-timing-function: ease-out;
	transition-duration: DeathNoticeFadeOutTime;
}

.Available .DeathNoticeBGBorder,
.Available .DeathNoticeContent,
.Available .DeathNoticeWipeContainer
{
	opacity: 0;
	transition-duration: .2s;
}

.DeathNoticeBG
{
	width: 100%;
	height: 100%;
	                              
	                                                                                                                                                                                                                                                      
	background-color: background-color: gradient( linear, 0% 0%, 0% 0%, from( #000000CC ), color-stop( 1, #00000000 ) , color-stop( 1, #00000000), color-stop( 1, #00000000 ), to( #00000000 ) );

	opacity: 0.65;
}

.DeathNoticeBGGradient
{
	width: 100%;
	height: 95%;
	opacity: 0.82;
	vertical-align: center;
}


                                                                               
                                                                               
                                                                               


.DeathNotice_Victim .DeathNoticeBG
{
	visibility: visible;
	background-color: #a81313;
	opacity: 1;
	box-shadow: inset #e10000e6 0px 0px 1px;
}


                                                                               
                                                                               
                                                                               

.DeathNotice_Killer .DeathNoticeBGBorder
{
	border: 1.5px solid #b3070d;
	 
}

.DeathNotice_Killer .DeathNoticeBGGradient
{
	visibility: collapse;
}

.DeathNotice_Killer .DeathNoticeBG
{
	visibility: visible;
	background-color: black;
	opacity: 0.8;
}


                                                                               
                                                                               
                                                                               

.DeathNoticeContent
{
	flow-children: right;
	padding: 6px 10px 3px 10px;
	-s2-mix-blend-mode: additive;
	transition-property: opacity;
	transition-timing-function: ease-out;
	transition-duration: DeathNoticeFadeOutTime;
}

.DeathNoticeContent Label
{
	font-size: 20px;
	font-weight: bold;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	letter-spacing: 0.20px;
	text-shadow-fast: 1px 1px #000000;
	vertical-align: bottom;
	max-height: 35px;
	max-width: 300px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.DeathNoticeCTColor
{
	color: CTColor;
}

.DeathNoticeTColor
{
	color: TColor;
}

.DeathNoticeFadedColor
{
	color: FadedColor;
}

.DeathNoticeIcon
{
	height: 26px;
	vertical-align: top; 
	visibility: collapse;
	margin: -2px 5px 0px 5px;
	                      
}

.WeaponIcon
{
	max-width: 52px;
}

                                                         
#Weapon
{
	visibility: visible;
	margin: -3px 4px 0px 4px;
}
.DeathNoticeSuicide #Weapon
{
	visibility: collapse;
}

#AssistParent
{
	visibility: collapse;
	vertical-align: middle;
	flow-children: right;
}

                                          
                                          
                                          
.DeathNoticeWipeContainer
{
	visibility: collapse;
	width: 100%;

	flow-children: left;
	margin-top: 30px;
	padding: 0px 10px 0px 10px;
	-s2-mix-blend-mode: additive;
	transition-property: opacity;
	transition-timing-function: ease-out;
	transition-duration: DeathNoticeFadeOutTime;

	                              
	background-color: gradient( linear, 100% 100%, 0% 0%, from( #e10000e6 ), color-stop( 0.2, #e10000e6 ), color-stop( 0.4, #e1000066 ), color-stop( 0.8, #e1000011 ), to( #e1000000 ) );
	border-radius: 3px;
}

.DeathNoticeWipeContainer Label
{
	font-size: 16px;
	font-weight: bold;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	letter-spacing: 0.45px;
	text-shadow-fast: 1px 1px #000000;

	max-height: 22px;
	max-width: 300px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.DeathNoticeWipeIcon
{
	height: 16px;
	vertical-align: middle;
	margin: -2px 1px 0px 1px;
}


.DeathNoticeWipe .DeathNoticeWipeContainer,
.DeathNoticeRevenge #Revenge,
.DeathNoticeDomination #Domination,
.DeathNoticePenetrate #Penetrate,
.DeathNoticeFlashbang #Flashbang,
.DeathNoticeSuicide #Suicide,
.DeathNoticeAssist #AssistParent
{
	visibility: visible;
}

.DeathNoticeHeadShot #HeadShot
{
	visibility: visible;
	margin-top: -4px;
}

.noscope #NoScopeIcon
{
    visibility: collapse;
}

.through-smoke #ThroughSmokeIcon
{
    visibility: collapse;
}

.attacker-blind #AttackerBlindIcon
{
    visibility: collapse;
}

#Penetrate,
#Weapon,
#HeadShot
{
	margin-right: 4px;
	margin-left: 5px;
}

#Penetrate
{
	margin: -3px 4px 0px 4px;
}

#Attacker
{
	margin-right: 4px;
}

#Victim
{
	margin-left: 2px;
}